.light-mode .search {
  & > .search-box {
    color: $git-black;
    background: #f0f0f0;
  }
  & > .options {
    .label-option {
      &.all-select {
        color: $git-black;
      }
      & > .material-icons {
        color: $git-black;
      }
      & > .label-content {
        color: $git-black;
      }

      &:hover {
        background: #0000000e;
      }
    }
  }
}
