.light-mode .sidebar {
  .pulldown-menu {
    background-color: white;
    border: 1px solid $border;

    &:before {
      border-right: 15px solid white;
    }

    &:after {
      border-right: 16px solid $border;
    }

    .header {
      border-color: $border;
    }

    button {
      color: white;
      background-color: $git-black;
    }
  }
}

.light-mode .setting-button {
  color: $git-black;
  background: white;
  border: 2px solid $git-black;
  &:active,
  &:hover {
    background: rgb(239, 239, 239);
  }
}
