.light-mode {
  .column {
    background-color: white;
    border-color: $border;
    &:first-child {
      border-color: $border;
    }
    & > header {
      border-color: $border;
      .repoicon {
        color: $git-blue;
      }
      .tune {
        color: $git-black;
        &:hover {
          color: $git-green;
          background: rgb(240, 240, 240);
        }
      }
      .refresh {
        color: $git-black;
        &:hover {
          color: $git-green;
          background: rgb(240, 240, 240);
        }
      }
      .title {
        color: $git-blue;
      }
    }

    & > main {
      & .comment {
        border-color: $border;
        &.reply > .iconItem::before {
          background: $border;
        }
        & > .iconItem {
          & > .thread-line {
            background-color: $border;
          }
        }
        & > .threadLine {
          border-right: 3px solid $border;
          &.dotted {
            border-right: 3px dotted $border;
          }
        }
        & > .titleItem {
          a {
            color: black;
          }
          .titleLine {
            & > .title {
              & > .number {
                color: gray;
              }
            }
          }
          & > .assign {
            color: gray;
          }
        }
        & > .markItem {
          .comment-type-mark {
            color: white;
          }
          .pull-request-open {
            background-color: $git-green;
          }
          .pull-request-closed {
            background-color: $git-red;
          }
          .pull-request-merged {
            background-color: $git-purple;
          }
          .issue-open {
            background-color: $git-green;
          }
          .issue-closed {
            background-color: $git-red;
          }
        }
        & > .dateItem {
          color: gray;
        }
        & > .textItem {
          & > .textItemCon {
            & blockquote {
              color: #57606a;
              border-color: $border;
            }

            & table {
              & th,
              & td {
                border-color: #d0d7de;
              }

              & tr:nth-child(even) {
                background: rgb(246, 248, 250);
              }
            }
          }
        }
        & > .readmoreItem {
          & > .readmore {
            color: $git-blue;
          }
        }
        & > .buttonItem {
          color: $git-black;
          &:hover {
            color: $git-green;
          }
        }
      }
    }
  }
}
