.dark-mode {
  .container {
    color: $dark-text;
    background-color: #0e1117;
  }
  a {
    color: $git-dark-blue;
  }
  border-color: $border-dark;

  .modal-content {
    background-color: $git-black;
    & > .header {
      border-color: $border-dark;
      .material-icons {
        color: $dark-gray;
      }
    }

    & > .main-contents {
      & > .addButton {
        color: $dark-text;
        background-color: #0e1117;
        border: 1px solid $border-dark;
        &:hover {
          color: white;
          background-color: #31363b;
          border-color: $dark-gray;
        }
      }
      & > .addButton:disabled {
        color: white;
        background: #ccc;
      }

      & > .postButton {
        color: white;
        background-color: $idea-color;
      }
    }
  }
}
