.dark-mode .sidebar {
  .pulldown-menu {
    background-color: #0e1117;
    border: 1px solid $border-dark;

    &:before {
      border-right: 15px solid #0e1117;
    }

    &:after {
      border-right: 16px solid $border-dark;
    }

    .header {
      border-color: $border-dark;
    }

    button {
      color: $dark-text;
      background-color: #21262c;
      border: 1px solid $border-dark;
      &:hover {
        color: white;
        background-color: #31363b;
        border-color: $dark-gray;
      }
    }
  }
}


.dark-mode .setting-button {
  background: $border-dark;
  border: 1px solid $dark-gray;
  &:active,
  &:hover {
    background: $dark-gray;
  }
  select, button{
    color: $dark-text;
    &:active,
    &:hover {
      color: $git-black;
    }
  }
}
