.dark-mode {
  .column {
    background-color: #0e1117;
    border-color: $border-dark;
    &:first-child {
      border-color: $border-dark;
    }
    & > header {
      border-color: $border-dark;
      .repoicon {
        color: $git-dark-blue;
      }
      .tune {
        color: #aab8c2;
        &:hover {
          color: white;
        }
      }
      .refresh {
        color: #aab8c2;
        &:hover {
          color: white;
        }
      }
      .title {
        color: $git-dark-blue;
      }
    }
    & > main {
      & .comment {
        border-color: $border-dark;
        &.reply > .iconItem::before {
          background: $border-dark;
        }
        & > .iconItem {
          & > .thread-line {
            background-color: $border-dark;
          }
        }
        & > .threadLine {
          border-right: 3px solid $border-dark;
          &.dotted {
            border-right: 3px dotted $border-dark;
          }
        }
        & > .titleItem {
          a {
            color: $dark-text;
          }
          .titleLine {
            & > .title {
              & > .number {
                color: $dark-gray;
              }
            }
          }
          & > .assign {
            color: $dark-gray;
          }
        }
        & > .markItem {
          .pull-request-open {
            color: $git-green;
          }
          .pull-request-closed {
            color: $git-red;
          }
          .pull-request-merged {
            color: $git-purple;
          }
          .issue-open {
            color: $git-green;
          }
          .issue-closed {
            color: $git-red;
          }
        }
        & > .dateItem {
          color: $dark-gray;
        }
        & > .textItem {
          & > .textItemCon {
            & blockquote {
              color: #8b949e;
              border-color: #8b949e;
            }

            & table {
              & th,
              & td {
                border-color: #30363d;
              }

              & tr:nth-child(even) {
                background: rgb(22, 27, 23);
              }
            }
          }
        }
        & > .readmoreItem {
          & > .readmore {
            color: $git-dark-blue;
          }
        }
        & > .buttonItem {
          color: #c8d1d9;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
