// 共通で使うもの
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
}

a {
  text-decoration: none;
}

button{
  background-color: transparent;
}

.user-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: block;
}
.label {
  font-size: 6px;
  padding: 0px 10px;
  margin: 2px 3px 2px 0px;
  border-radius: 24px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  //max-widthを超えるような場合は省略
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  // ラベル内のテキストが選択されないようにする
  user-select: none;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;

  &.disabled {
    box-shadow: none;
  }
}

.modal-content {
  padding: 12px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  & > .header {
    display: inline-flex;
    border-bottom: 1px solid;
    border-color: $border;
    align-items: baseline;
    width: 100%;

    .topic {
      flex: 1;
      font-size: 24px;
    }

    .material-icons {
      font-size: 24px;
      color: gray;
    }
    button {
      padding: 0px;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  & > .main-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding: 24px;
    height: 100%;
    box-sizing: border-box;

    & > .inputField {
      padding: 12px 16px;
      border-radius: 4px;
      margin: auto 0;
      width: 100%;
    }

    & > button {
      margin-top: auto;
      padding: 12px 32px;
      background: transparent;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      align-self: flex-end;
    }

    & > .addButton {
      background: $git-black;
      color: white;
    }
    & > .addButton:disabled {
      background: #ccc;
      color: white;
    }

    & > .postButton {
      background-color: $idea-color;
      color: white;
    }
  }
}
