.label_column{
    
    & > header {
        border-bottom: 1px solid;
        border-color: $border;
        padding: 5px 15px;  
        background-color: #ffffff;
        .top{
            width:100%;
            display:flex;
            background-color:transparent;
            .filterbutton{
                display: flex;
                .filter_list {
                    border: none;
                    width: 25px;
                    height: 25px;
                    background: transparent;
                    color: gray;
                    padding:0px;
                    margin:0px 0px 4px 0px;
                    cursor: pointer;
                    .material-icons {
                        font-size: 25px;
                    }
                }
                .filter_message{
                    font-size:10px;
                    margin:auto 0;
                    padding: 0px 2px;
                    color:gray;
                }
            }
        }
        & > .labelsBlock{
            display: block;
            .Lab{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                align-items: center;
                .labels{
                    display: block;
                    font-size: 0;
                }
            }
        }
        & > .categoryBlock{
            display: block;
            .Lab{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                align-items: center;
                .labels{
                    display: block;
                    font-size: 0;
                }
            }
        }
    }
    &> .bottom{
        border-bottom: 1px solid;
        border-color: $border;
        padding: 5px 5px;
        .bottomContent{
            display: flex;
            height: 15px;
            .right{
                display: flex;
                margin: 0 0 0 auto; 
                .message{
                    margin:auto 0;
                    font-size: 10px;
                    color : #ff6347;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }   
            }
        }
    }
}
