// 左端のバー
$sidebar-width: 60px;

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  flex: 0 0 auto;
  background-color: $git-black;
  width: $sidebar-width;
  height: 100%;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  & > .menu {
    position: relative;
    height: 100%;
    .material-icons {
      color: #aab8c2;
      font-size: 40px;
      &:hover {
        color: white;
      }
    }
    .add-button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    button {
      padding: 20px 0;
      width: 100%;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    img {
      margin: 0 auto;
    }
  }

  input {
    margin-top: 10px;
    margin-right: 20px;
  }

  button {
    padding: 2px 10px;
  }

  .pulldown-menu {
    position: absolute;
    background-color: white;
    top: 15px;
    left: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $border;
    z-index: 100000;
    width: 120px;

    &:before {
      content: '';
      position: absolute;
      top: 30%;
      left: -25px;
      margin-top: -10px;
      border: 10px solid transparent;
      border-right: 15px solid white;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      top: 30%;
      left: -28px;
      margin-top: -11px;
      border: 11px solid transparent;
      border-right: 16px solid $border;
      z-index: 1;
    }

    .header {
      border-bottom: 1.5px solid;
      border-color: $border;
      margin-bottom: 5px;
    }
    .user-name {
      font-weight: bold;
    }

    button {
      background-color: $git-black;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}

.vertical-panes {
  margin-left: $sidebar-width;
}
