// タイムライン
.column {
    flex: 0 0 auto;
    height: 100vh;
    width: 320px;
    border-left: 6px solid;
    border-right: 6px solid;
    border-color: $border;
    display: flex;
    flex-direction: column;

    // ヘッダー
    & > header {
        border-bottom: 1px solid;
        border-color: $border;
        min-height: 30px;
        max-height: 80px;
        display: flex;
        padding: 20px;   
        
        .repoicon{
            height:18px;
            width: 18px;
            padding-right: 6px;
            color: $git-blue;
            //background-color: lightskyblue;
        }

        .chat {
            border: none;
            width: 20px;
            height: 20px;
            background: transparent;
            color: gray;
            margin-right: 10px;
            .material-icons {
                font-size: 20px;
            }
        }

        .tune {
            border: none;
            width: 20px;
            height: 20px;
            background: transparent;
            color: gray;
            .material-icons {
                font-size: 20px;
            }
        }

        .title {
            flex: 1;
            // 2行を超えるタイトルは…で省略
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            word-break:break-all;
            color: $git-blue;
            & > .reponame{
                font-weight: bold;
            }
            margin-right: 7px;
        }
    }

    // 投稿部分
    & > main {
        flex: 1;
        overflow-y: scroll;

        & .comment {
        //& > .comment {
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid;
            border-color: $border;
            display: grid;
            grid-template-rows: min-content 1fr;
            grid-template-columns: 35px 1fr min-content 28px;
            grid-template-areas:
            "areaIcon areaTitle areaMark areaDate"
            "areaIcon areaText areaText areaText";

            &>.iconItem {
                grid-area: areaIcon;
                display: flex;
                flex-direction: column;
                align-items: center;

                .thread-line{
                    flex: 1;
                    width: 3px;
                    background-color: $border;
                }
            }
            &>.titleItem {
                grid-area: areaTitle;
                min-width: 0;
                word-break:break-all;
                margin: 0 7px;
                & > .title {
                    font-weight: bold;
                    font-size: 12px;   
                }
                
                & > .number {
                    color: gray;
                    font-size: 12px;
                }
                & > .assign {
                    display: flex;
                    align-items: flex-end;
                    color: gray;
                    .assigner {
                        height: 20px;
                        width: 20px;
                        margin-right: 1px;
                    }
                }
            }
            &>.markItem {
                grid-area: areaMark;
                margin-right: 7px;
                .comment-type-mark {
                    height: 20px;
                    width: 20px;
                    color: white;
                    display: table-cell;
                    border-radius: 50%;
                }
                .pull-request {
                    padding: 3px;
                    background-color: $git-green;
                }
                .issue {
                    padding: 2px;
                    background-color: $git-green;
                }
                .idea {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-right: 3px;
                    padding-left: 2px;
                    background-color: $idea-color;
                }
            }
            &>.dateItem {
                grid-area: areaDate;
                color: gray;
                font-size: 12px;
                display: inline-block;
            }
            &>.textItem {
                grid-area: areaText;
                margin: 0 7px;
                word-break:break-all;
                font-size: 12px;
                & > .readmore {
                    padding: 3px 0;
                    font-size: 12px;
                    color: $git-blue;
                }
            }

        }
        & .thread {
            padding-bottom: 0;
            border-bottom: none;
            min-height: 60px;
        }
    }

    // 投稿欄
    .modal-content {
        textarea {
            width: 100%;
            margin-bottom: 3px;
        }
        .repo {
            padding-bottom: 15px;
        }
    }
}