// タイムライン
.column {
    flex: 0 0 auto;
    height: 100vh;
    width: 320px;
    border-right: 3px solid;
    border-color: $border;
    display: flex;
    flex-direction: column;
    
    // ヘッダー
    & > header {
        border-bottom: 1px solid;
        border-color: $border;
        min-height: 50px;
        max-height: 70px;
        display: flex;
        padding: 10px;
        
        button {
            border: none;
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0 2.5px;
            background: transparent;
        }
        
        .repoicon{
            padding-top: 1.5px;
            padding-right: 3px;
            color: gray
        }

        .chat {
            font-size: 20px;
            padding-top: 3px;
            color: gray;
        }

        .tune {
            font-size: 20px;
            padding-top: 2px;
            color: gray;
        }

        .title {
            flex: 1;
            // 2行を超えるタイトルは…で省略
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            word-break:break-all;
            color: $git-blue;
            & > .reponame{
                font-weight: bold;
            }
        }
    }

    // 投稿部分
    & > main {
        flex: 1;
        overflow-y: scroll;

        & > .comment {
            padding: 15px 10px;
            border-bottom: 1px solid;
            border-color: $border;
            display: flex;

            .icon {
                border: 3px solid;
                border-color: #FF00C7;
            }

            .contents {
                flex: 1;
                min-width: 0;
                word-break:break-all;
                margin-left: 10px;

                & > .title {
                    font-weight: bold;
                }
                
                & > .number {
                    color: gray;
                    font-size: 12px;
                }

                & > .assign {
                    display: flex;
                    align-items: flex-end;
                    color: gray;
                    .assigner {
                        height: 25px;
                        width: 25px;
                        margin-right: 1px;
                    }
                }

                & > .labels {
                    .label{
                        font-size: 70%;
                        font-weight: bold;
                        padding: 2px 10px;
                        border-radius: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        background-color: palevioletred;
                        color: white;
                    }
                }

                & > .text {
                    font-size: 12px;
                }

            }

            .comment-type-mark {
                height: 25px;
                width: 25px;
                padding: 2px;
                color: white;
                background-color: #FF00C7;
                border-radius: 50%;
                margin: 0px 5px 0;
            }

            .date {
                font-size: 12px;
                color: gray;
            }
        }
    }
}