// 共通で使うもの
body {
  overscroll-behavior: none; // iOSでover scrollを防ぐ
  // https://github.com/git-deck/git-deck/issues/167
}

.container {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
}

a {
  text-decoration: none;
}
pre {
  background-color: black;
  color: white;
}

button {
  background-color: transparent;
}

.columns {
  display: flex;
}

.user-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: block;
}
.label {
  font-size: 6px;
  padding: 0px 10px;
  margin: 2px 3px 2px 0px;
  border-radius: 24px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  //max-widthを超えるような場合は省略
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  // ラベル内のテキストが選択されないようにする
  user-select: none;

  &.disabled {
    box-shadow: none;
  }
}

.modal-content {
  padding: 12px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  & > .header {
    display: inline-flex;
    border-bottom: 1px solid;
    align-items: baseline;
    width: 100%;

    .topic {
      flex: 1;
      font-size: 24px;
    }

    .material-icons {
      font-size: 24px;
    }
    button {
      padding: 0px;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  & > .main-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding: 24px;
    height: 100%;
    box-sizing: border-box;

    & > .inputField {
      padding: 12px 16px;
      border-radius: 4px;
      margin: auto 0;
      width: 100%;
    }

    & > .addButton {
      margin-top: auto;
      padding: 12px 32px;
      background: transparent;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      align-self: flex-end;
    }
  }
}
