// 共通で使うもの
body {
  overscroll-behavior: none; // iOSでover scrollを防ぐ
  // https://github.com/git-deck/git-deck/issues/167
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}

a {
  text-decoration: none;
}
pre {
  color: white;
  background-color: black;
}

button {
  background-color: transparent;
}

.columns {
  display: flex;
}

.user-icon {
  display: block;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
}
.label {
  display: inline-block;
  //max-widthを超えるような場合は省略
  max-width: 170px;
  padding: 0px 10px;
  margin: 2px 3px 2px 0px;
  overflow: hidden !important;
  font-size: 6px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  // ラベル内のテキストが選択されないようにする
  user-select: none;
  border-radius: 24px;

  &.disabled {
    box-shadow: none;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px 24px;
  & > .header {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    border-bottom: 1px solid;

    .topic {
      flex: 1;
      font-size: 24px;
    }

    .material-icons {
      font-size: 24px;
    }
    button {
      padding: 0px;
      cursor: pointer;
      background: transparent;
      border: none;
    }
  }

  & > .main-contents {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 24px;

    & > .inputField {
      width: 100%;
      padding: 12px 16px;
      margin: auto 0;
      border-radius: 4px;
    }

    & > .addButton {
      align-self: flex-end;
      padding: 12px 32px;
      margin-top: auto;
      cursor: pointer;
      background: transparent;
      border: none;
      border-radius: 4px;
    }
  }
}
