.search {
  margin-top: 12px;

  & > .search-box {
    width: 100%;
    padding: 8px 12px;
    margin: auto 0;
    background: #f0f0f0;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  & > .options {
    max-height: 220px;
    overflow-y: scroll;

    .label-option {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 6px 12px;
      margin-top: 2px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      transition: all 0.1s;

      &.all-select {
        padding-left: 64px;
        font-size: 13px;
      }

      & > .label-content {
        font-size: small;
        text-decoration: underline;

        &.checked {
          text-decoration: none;
        }
      }

      & > .material-icons {
        margin-right: 8px;
        font-size: 16px;
        text-decoration: none;

        &.hide {
          visibility: hidden;
        }
      }

      // &:hover {
      //   background: gold;
      // }

      & .circle-badge {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 99px;
      }
    }
  }
}
