.login-page {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 80px;
  color: white;
  background-color: $git-black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  & > .caption {
    width: 500px;
    & > .title {
      display: inline-flex;
      align-items: flex-end;
      margin-bottom: 16px;
      font-size: 36px;
      font-weight: bold;
      .cat-icon {
        width: 60px;
        height: 60px;
        margin-left: 12px;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px 15px 5px 0px;
    text-align: right;
  }

  .login-button {
    width: 400px;
    padding: 20px;
    color: black;
    background-color: white;
    & > .caption {
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: bold;
      border-color: $border;
      border-bottom: 2px solid;
    }
    & > button {
      width: 360px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: $git-black;
      border: none;
      border-radius: 24px;
      &:hover {
        cursor: pointer;
      }
      & > .github-mark {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        color: white;
      }
    }

    & > .link {
      padding-top: 10px;
      margin-top: 20px;
      border-color: $border;
      border-top: 2px solid;
    }
  }
}
