// 左端のバー
$sidebar-width: 60px;

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  flex: 0 0 auto;
  width: $sidebar-width;
  height: 100%;
  background-color: $git-black;

  & > .menu {
    position: relative;
    height: 100%;
    .material-icons {
      margin-top: 12px;
      font-size: 40px;
      color: #aab8c2;
      &:hover {
        color: white;
      }

      &.settings {
        font-size: 28px;
      }
    }
    .sidebar-button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    button {
      width: 100%;
      padding: 20px 0;
      cursor: pointer;
      background: transparent;
      border: none;
    }

    img {
      margin: 0 auto;
    }
  }

  input {
    margin-top: 10px;
    margin-right: 20px;
  }

  button {
    padding: 2px 10px;
  }

  .pulldown-menu {
    position: absolute;
    top: 15px;
    left: 70px;
    z-index: 100000;
    width: 120px;
    padding: 10px;
    border-radius: 5px;

    &:before {
      position: absolute;
      top: 30%;
      left: -25px;
      z-index: 2;
      margin-top: -10px;
      content: '';
      border: 10px solid transparent;
    }

    &:after {
      position: absolute;
      top: 30%;
      left: -28px;
      z-index: 1;
      margin-top: -11px;
      content: '';
      border: 11px solid transparent;
    }

    .header {
      margin-bottom: 5px;
      border-bottom: 1.5px solid;
    }
    .user-name {
      font-weight: bold;
    }

    button {
      padding: 5px 10px;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
  }
}

.vertical-panes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: $sidebar-width;
  overflow-x: scroll;
}

.column-add-modal .main-contents {
  & > .inputFieldset {
    padding: 0;
    border: none;

    & > .inputField {
      width: 100%;
      padding: 12px 16px;
      border-radius: 4px;
    }
  }

  & > .separator {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 20px;
    color: rgb(231, 231, 231);
  }

  & > .repository-recommend {
    display: flex;
    flex-wrap: wrap;
    // overflow-x: scroll;
    margin-top: 10px;
    margin-bottom: 12px;

    & > .recommended-button {
      flex-shrink: 0;
      padding: 4px 12px;
      margin-top: 4px;
      margin-right: 8px;
      margin-bottom: 12px;
      font-size: 12px;
      font-weight: bold;
      color: $git-black;
      cursor: pointer;
      background: white;
      border: 2px solid $git-black;
      border-radius: 99px;

      &.selected {
        color: white;
        text-decoration: underline;
        background: $git-black;
        transition: none;

        &:hover {
          background: $git-black;
          opacity: 0.8;
        }
      }

      &:active,
      &:hover {
        background: rgb(239, 239, 239);
      }

      &.selected.show-all-button > select {
        padding: 4px 12px;
        color: white;
        background: $git-black;
        border: none;
        outline: none;
      }

      &.show-all-button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;

        &:active,
        &:hover {
          opacity: 1;
        }

        & > select {
          padding: 4px 12px;
          cursor: pointer;
          background: transparent;
          border: none;
          outline: none;
          &:focus,
          &:active {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}

.setting-button {
  flex-shrink: 0;
  padding: 4px 12px;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 1.5rem;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 99px;

  select,button {
    padding: 4px 12px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}