// タイムライン
.column {
  flex: 0 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 6px solid;
  overflow-x: hidden;

  // ヘッダー
  & > header {
    border-bottom: 1px solid;
    display: flex;
    padding: 20px 10px;
    height: 60px;
    cursor: move;

    .repoicon {
      height: 18px;
      width: 18px;
      padding-right: 6px;
      margin-left: 7px;
    }

    & > .title {
      & > .username:hover,
      & > .reponame:hover {
        text-decoration: underline;
      }
    }
    .tune {
      border: none;
      width: 20px;
      height: 20px;
      background: transparent;
      cursor: pointer;
      padding: 0;
      margin-right: -8px;
      border-radius: 2px;
      .material-icons {
        font-size: 20px;
      }
    }

    .refresh {
      margin-right: 8px;
      padding: 0;
      border: none;
      width: 20px;
      height: 20px;
      cursor: pointer;
      .material-icons {
        font-size: 20px;
      }
    }

    .title {
      flex: 1;
      // 2行を超えるタイトルは…で省略
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-break: break-all;
      line-height: tight;
      & > .reponame {
        font-weight: bold;
      }
      margin-right: 7px;
    }
  }

  // 投稿部分
  & > main {
    flex: 1;
    overflow-y: scroll;

    & .comment {
      padding-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid;
      display: grid;
      grid-template-rows: min-content 1fr;
      grid-template-columns: 35px 1fr max-content min-content;
      grid-template-areas:
        'areaIcon         areaTitle areaDate areaMark'
        'areaIcon         areaText  areaText areaText'
        'threadLine readmore  readmore areaButton';

      &.reply > .iconItem::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-70%); // 目測で調整
        height: 12px;
        width: 3px;
        margin-top: -12px;
      }

      & > .iconItem {
        position: relative;
        grid-area: areaIcon;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .thread-line {
          flex: 1;
          width: 3px;
          justify-content: center;
        }
      }

      & > .threadLine {
        grid-area: threadLine;
        border-right: 3px solid $border;
        &.dotted {
          border-right: 3px dotted $border;
        }
        margin: 0 auto;
        transition: all 0.3s;
      }

      & > .titleItem {
        grid-area: areaTitle;
        min-width: 0;
        word-break: break-all;
        margin: 0 7px;
        .titleLine {
          cursor: pointer;
          transition: all 0.2s;
          text-decoration: underline;
          text-decoration-color: transparent;
          &:hover {
            text-decoration-color: inherit;
          }
          & > .title {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 4px;
            & > .number {
              font-weight: normal;
            }
          }
        }

        & > .assign {
          display: flex;
          align-items: flex-end;
          margin: 4px 0px 4px 0px;
          .assigner {
            height: 20px;
            width: 20px;
            margin-right: 1px;
          }
        }
      }
      & > .markItem {
        grid-area: areaMark;
        .comment-type-mark {
          height: 20px;
          width: 20px;
          display: table-cell;
          border-radius: 50%;
        }
        .pull-request-open {
          padding: 3px;
        }
        .pull-request-closed {
          padding: 3px;
        }
        .pull-request-merged {
          padding: 3px;
          padding-left: 5px;
        }
        .issue-open {
          padding: 2px;
        }
        .issue-closed {
          padding: 2px;
        }
      }
      & > .dateItem {
        grid-area: areaDate;
        margin-right: 7px;
        font-size: 12px;
        text-align: right;
      }
      & > .textItem {
        grid-area: areaText;
        margin: 0px 7px;
        word-break: break-all;
        font-size: 12px;
        overflow-y: hidden;
        overflow-x: scroll;
        .labels {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          align-items: center;
        }
        & > .textItemCon {
          margin-top: 4px;

          & p {
            margin-bottom: 0.8em;
          }

          & blockquote {
            position: relative;
            padding: 0 1em;
            border-left: 0.2em solid;
          }

          & table {
            border-collapse: collapse;
            & th,
            & td {
              padding: 4px 12px;
              border: 1px solid;
            }
          }
        }
      }
      & > .readmoreItem {
        margin-top: 4px;
        grid-area: readmore;

        & > .readmore {
          font-size: 12px;
          text-align: center;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      & > .buttonItem {
        grid-area: areaButton;
        border: none;
        cursor: pointer;
        background-color: transparent;
      }
    }
    & .thread {
      padding-bottom: 0;
      border-bottom: none;
      min-height: 60px;
    }

    .loading {
      img {
        margin: 30px auto;
      }
    }
  }
}
