$git-black: #24292e; // GitHubの黒
$git-blue: #0366d6;
$git-green: #2ea44f;
$git-red: #bd2c00;
$git-purple: #6e5494;
$idea-color: #ffb800;
$border: #e1e4e8; // 区切り線に使う灰色

$border-dark: #30363c;
$dark-text: #c8d1d9;
$dark-gray: #8b949e;
$git-dark-blue: #57a6ff;
